body {
    padding: 30px;
    font-family: Helvetica;
}

#profile-picture {
    max-width:50%;
}

.wrapper {
    height:100%;

    display: -webkit-flex;  /* Learned how to use flex from https://stackoverflow.com/questions/7123138/how-to-make-this-header-content-footer-layout-using-css */
    display:flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

main {
    flex: 1;
    margin: 10px;
    padding: 10px;
}

header, footer {
    height: 100px;
    margin: 0px;
    padding: 0px;
}

header {
    border-bottom-style: solid;
}

footer {
    border-top-style: solid;
    padding-top: 30px;
}
